/* line 1, ../sass/currency_list_stream.scss */
a {
  color: white;
}

/* line 5, ../sass/currency_list_stream.scss */
.price-display {
  font-weight: bold;
  text-align: center;
}

/* line 10, ../sass/currency_list_stream.scss */
span {
  color: #121212;
  font-size: 14px;
}

/* line 15, ../sass/currency_list_stream.scss */
.views-field-field-last span {
  background: #f5f5f5;
  border: 1px solid #eee;
  text-align: center;
  white-space: nowrap;
}

/* line 21, ../sass/currency_list_stream.scss */
.view-currency-listing span {
  padding: 2px 12px;
}

/* line 24, ../sass/currency_list_stream.scss */
.view-currency-listing span.up {
  color: #fff;
  background: #3d9400;
}

/* line 28, ../sass/currency_list_stream.scss */
.view-currency-listing span.down {
  color: #fff;
  background: #a11b0a;
}

/* line 33, ../sass/currency_list_stream.scss */
.SUPPLY.up,
.MKCAP.up,
.pct-up {
  font-size: 12px;
  color: #096b23;
  padding-left: 2%;
  font-weight: bold;
}

/* line 42, ../sass/currency_list_stream.scss */
.SUPPLY.down,
.MKCAP.down,
.pct-down {
  font-size: 12px;
  color: #f00;
  padding-left: 2%;
  font-weight: bold;
}
